* {
    box-sizing: border-box;
}
.App {
    width: 900px;
    border: 3px solid lightgreen;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 30px;
    height: 70px;
    border: 1px solid red;
    color:rgb(0, 225, 255);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(10, 42, 86);
}

.header--title {
    margin: 0;
    align-self: center;
    font-weight: 600;
}

.article {
    display: flex;
    max-height: 300px;
    padding: 14px 30px;
    justify-content: space-between;
}

.article--photo {
    max-height: inherit;
    border-radius: 10px;
    margin-right: 40px;
}

.article--text {
    display: flex;
    flex-direction: column;
}

.article--header {
    margin: 0px 0px 20px 0px;
    text-align: center;
    letter-spacing: -0.5px;
}

.article--content {
    margin: 0;
}

.footer {
    display: flex;
    background-color: rgb(10, 42, 86);
    color: white;
    padding: 14px 30px;
    font-size: 13px;
    justify-content: center;
}