body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right top, #0A1128 , #001F54 , #034078, #1282A2, #FEFCFB );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace, 
}
